PROJECT = 'montilab-p'

process {
  executor = 'sge'
  scratch = true

  $check_reads.clusterOptions            = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $fastqc.clusterOptions                 = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $whitelist.clusterOptions              = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $extract.clusterOptions                = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $hisat_indexing.clusterOptions         = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=94G -pe omp 16"
  $star_indexing.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=94G -pe omp 16"
  $hisat_mapping.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=94G -pe omp 16"
  $star_mapping.clusterOptions           = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=94G -pe omp 16"
  $gtftobed.clusterOptions               = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $rseqc.clusterOptions                  = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $counting.clusterOptions               = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $multiqc.clusterOptions                = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
}