PROJECT = 'montilab-p'

process {
  executor = 'sge'
  scratch = true
  maxForks = 31
  errorStrategy = 'finish'

  $check_reads.clusterOptions            = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $pre_fastqc.clusterOptions             = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $pre_multiqc.clusterOptions            = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $trim_galore.clusterOptions            = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $hisat_indexing.clusterOptions         = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=94G -pe omp 16"
  $star_indexing.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=94G -pe omp 16"
  $hisat_mapping.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=94G -pe omp 16"
  $star_mapping.clusterOptions           = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=94G -pe omp 16"
  $gtftobed.clusterOptions               = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $rseqc.clusterOptions                  = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $counting.clusterOptions               = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $expression_matrix.clusterOptions      = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $expression_features.clusterOptions    = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $expression_set.clusterOptions         = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $multiqc.clusterOptions                = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
}