PROJECT = 'montilab-p'

process {
  executor = 'local'
  scratch = true

  $fastqc.clusterOptions           = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $trim_galore.clusterOptions      = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $hisat_indexing.clusterOptions   = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=94G -pe omp 16"
  $hisat_mapping.clusterOptions    = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=94G -pe omp 16"
  $star_indexing.clusterOptions    = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=94G -pe omp 16"
  $star_mapping.clusterOptions     = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=94G -pe omp 16"
  $gtftobed.clusterOptions         = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $rseqc.clusterOptions            = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $htseq.clusterOptions            = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $featurecounts.clusterOptions    = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $stringtie.clusterOptions        = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $stringtie_merge.clusterOptions  = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $stringtie_eb.clusterOptions     = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $aggregate_counts.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $multiqc.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
}

params {

  // -----------------------------------
  // Standard Parameters
  // -----------------------------------

  indir  = "/Users/anthonyfederico/Documents/pipeliner/RNA-seq/ggal_data"
  outdir = "/Users/anthonyfederico/Documents/pipeliner/RNA-seq/ggal_results"

  fasta      = "${params.indir}/genome_reference.fa"
  gtf        = "${params.indir}/genome_annotation.gtf"
  reads      = "${params.indir}/ggal_reads.csv"
  alignments = "${params.indir}/ggal_alignments.csv"

  pre_indexed = false          // do you already have an index?
  index = ""                   // optional path/to/index
  aligner = "star"             // choose aligning process ["star" or "hisat"]
  quantifier = "stringtie"     // choose counting process ["stringtie" or "htseq" or "featurecounts"]
  paired = true                // are reads paired or single end?
  from_bam = false             // start directly from alignment (bam) files?
  save_reference = true        // save the reference file
  save_temps = true            // save temproary files
  caching = "deep"             // caching option
  
  // -----------------------------------
  // Process Specific Parameters
  // -----------------------------------

  // Trim Galore
  // --------------------------------------
  trim_galore.skip                        = false
  trim_galore.quality                     = 20
  trim_galore.custom_adaptors             = false
  trim_galore.adapter1                    = ""
  trim_galore.adapter2                    = ""

  // Fast QC
  // --------------------------------------
  fastqc.skip                             = false

  // Hisat Aligner
  // --------------------------------------
  hisat_indexing.cpus                     = 1
  hisat_mapping.cpus                      = 1
  hisat_mapping.mp                        = "6,2"
  hisat_mapping.sp                        = "2,1"
  hisat_mapping.rdg                       = "5,3"
  hisat_mapping.rfg                       = "5,3"

  // Star Aligner
  // --------------------------------------
  star_indexing.sjdb_overhang             = 149
  star_indexing.cpus                      = 1
  star_mapping.cpus                       = 1
  star_mapping.twopassMode                = "Basic"
  star_mapping.outfilter_multimap_nmax    = 20
  star_mapping.outfilter_mismatch_nmax    = 999
  star_mapping.outfilter_mismatch_relmax  = 0.04
  star_mapping.align_intron_min           = 20
  star_mapping.align_intron_max           = 100000
  star_mapping.align_mates_gapmax         = 100000
  star_mapping.align_sjoverhang_min       = 1

  // Rseqc
  // --------------------------------------
  rseqc.skip                              = false

  // Htseq
  // --------------------------------------
  htseq.type                              = "exon"
  htseq.mode                              = "union"
  htseq.idattr                            = "gene_id"
  htseq.order                             = "pos"

  // Feature Counts
  // --------------------------------------
  feature_counts.type                     = "exon"
  feature_counts.id                       = "gene_id"

  // Multi QC
  // --------------------------------------
  multiqc.skip                            = false
}
