process {
	executor = 'local'
	clusterOptions = "-P montilab-p -l h_rt=96:00:00 -l mem_total=5G -pe omp 12"
}

params {
	indir  = "/Users/anthonyfederico/Village/pipeliner/Homo_sapiens/hsapiens_data"
	outdir = "/Users/anthonyfederico/Village/pipeliner/Homo_sapiens/hsapiens_data"

	fasta = "${params.indir}/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
	gtf   = "${params.indir}/Homo_sapiens.GRCh38.79.gtf"
	reads = "${params.indir}/hsapiens_reads.csv"

	index = false
	aligner = "star"
	paired = true
	enable_resume = true
	save_reference = true
	save_temps = false
}