process {
	executor = 'local'
	clusterOptions = "-P montilab-p -l h_rt=96:00:00 -l mem_total=5G -pe omp 12"
}

params {
	indir  = "/Users/anthonyfederico/Village/pipeliner/Gallus_gallus/ggal_data"
	outdir = "/Users/anthonyfederico/Village/pipeliner/Gallus_gallus/ggal_results"

	fasta = "${params.indir}/genome_reference.fa"
	gtf   = "${params.indir}/genome_annotation.gff"
	reads = "${params.indir}/ggal_reads.csv"
	bed   = "${params.indir}/ggal_refseq.bed"

	index = false
	aligner = "star"
	paired = true
	save_reference = true
}