<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Anthony Federico">
    <title>Pipeliner ~ v1.1</title>

    <link rel="stylesheet" type="text/css" href="../static/css/console.css?=v3502634531">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">

    <link rel="stylesheet" href="../static/css/theme.css?=v1502634183530">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  </head>

<script>
function dynamicJS(path) {
 return '<script src="'+path+'?=v'+Date.now().toString()+'"><'+'/script>'
}
$('head').append(dynamicJS('../static/js/semantic.js')); 
$('head').append(dynamicJS('../static/js/console.js'));
$('head').append(dynamicJS('../static/js/scripts.js')); 
</script>

  <body>
    <h2 class="ui center aligned header">
      <div class="content" style="color:white;margin-top:25px">
        Pipeliner ~ v1.1
        <div class="sub header" style="color:white">
          Flexible RNA-seq Pipeline built with Nextflow
        </div>
      </div>
    </h2>
    <div class="ui container center aligned"> 
      <!-- Steps -->
      <div class="ui tablet stackable mini steps">
        <div id="input-step" class="step">
          <i class="folder icon"></i>
          <div class="content">
            <div class="title">Input</div>
            <div class="description">Path to data files</div>
          </div>
        </div>
        <div id="settings-step" class="completed step">
          <i class="settings icon"></i>
          <div class="content">
            <div class="title">Settings</div>
            <div class="description">Customize your workflow</div>
          </div>
        </div>
        <div id="output-step" class="step">
          <i class="browser icon"></i>
          <div class="content">
            <div class="title">Output</div>
            <div class="description">Path to save results</div>
          </div>
        </div>
        <div id="submit-step" class="step">
          <div class="ui buttons">
            <button id="export" class="ui black button">Export</button>
            <div class="or"></div>
            <button id="nextflow" class="ui black button">Nextflow</button>
          </div>        
        </div>
      </div>
     
      <div id="config-view">
        <div id="message" class="ui hidden divider palette-orange"></div>
        <div class="ui hidden divider"></div>
        <!-- Input -->
        <div class="ui big icon labeled fluid input">
          <div class="ui label config-label"><i class="folder open icon"></i>Input</div>
          <input id="input-path" type="text" placeholder="/user/rnaseq/data" value="/home/feds/Desktop/testflow/ggal_data">   
          <i id="input-button" class="circular search link icon"></i>
        </div>

        <table class="ui celled striped compact table">
          <thead>
            <tr>
              <th colspan="3">Files Found</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="collapsing"><i class="file icon"></i> Genome Annotation (GTF/GFF)</td>
              <td id="annotation-files"></td>
              <td class="right aligned collapsing"><i id="annotation-files-status" class="large red remove icon"></i></td>
            </tr>
            <tr>
              <td class="collapsing"><i class="file icon"></i> Genome Reference (FASTA/FA)</td>
              <td id="reference-files"></td>
              <td class="right aligned collapsing"><i id="reference-files-status" class="large red remove icon"></i></td>
            </tr>
            <tr>
              <td class="collapsing"><i class="file icon"></i> Sequencing Reads (CSV)</td>
              <td id="csv-files"></td>
              <td class="right aligned collapsing"><i id="csv-files-status" class="large red remove icon"></i></td>
            </tr>
            <tr id="reads-accordion" hidden>
              <td></td>
              <td class="ui fluid accordion">
                  <div class="active title">
                    <i class="dropdown icon"></i>
                    Reads Found
                  </div>
                  <div class="active content">
                    <table class="ui very basic celled compact table">
                      <thead>
                        <tr>
                          <th>Sample</th>
                          <th>Read 1</th>
                          <th>Read 2</th>
                        </tr>
                      </thead>  
                      <tbody id="reads-found"></tbody>
                    </table>
                  </div>
              </td>
            </tr>
            <tr>
              <td class="collapsing"><i class="file icon"></i> Aligment (SAM/BAM)</td>
              <td id="alignment-files"></td>
              <td class="right aligned collapsing"><i id="alignment-files-status" class="large red remove icon"></i></td>
            </tr>
          </tbody>
        </table>

        <!-- Settings -->
        <h4 class="ui top attached header left aligned">Settings</h4>
        <div class="ui attached segment left aligned">
          <form class="ui form">
              <div class="four fields">
                <div class="field">
                  <label>Aligner</label>
                  <select class="ui selection dropdown">
                    <option value="star">Star</option>
                  </select>
                </div>
                <div class="field">
                  <label>Read Ends</label>
                  <select class="ui fluid dropdown">
                    <option value="paired">Paired End</option>
                    <option value="single">Single End</option>
                  </select>              
                </div>
                <div class="field">
                  <label>Project</label>
                  <input type="text">           
                </div>
                <div class="field">
                  <label>Email</label>
                  <input type="text">           
                </div>
              </div>

              <div class="fields">
                <div class="four wide field">
                  <label>Indexing</label>
                  <select class="ui selection dropdown">
                    <option value="star">Star</option>
                    <option value="bowtie">Bowtie</option>
                    <option value="kallisto">Kallisto</option>
                  </select>
                </div>
                <div class="twelve wide field">
                  <label>Use Existing Index</label>
                  <div class="ui labeled icon fluid input">
                  <div class="ui label"><i class="folder open icon"></i>Index</div>
                  <input id="index-path" type="text" placeholder="/user/rnaseq/results/index">
                  <i id="index-path-status" class="active large red remove icon"></i>
                  </div>
                </div>
              </div>
          </form>
        </div>
        
        <!-- Workflow -->
        <div class="ui bottom attached segment">
          <div class="ui big breadcrumb">
            <div class="section">Reads</div>
            <i class="right chevron icon divider"></i>
            <div class="section">Fastqc</div>
            <i class="right chevron icon divider"></i>
            <div class="section">Trim Galore</div>
            <i class="right chevron icon divider"></i>
            <div class="section">Star</div>
            <i class="right chevron icon divider"></i>
            <div class="section">Counts/Stringtie/Resqc</div>
            <i class="right chevron icon divider"></i>
            <div class="section">Multiqc</div>
          </div>
        </div>
        
        <!-- Output -->
        <div class="ui big labeled icon fluid input">
          <div class="ui label config-label"><i class="folder open icon"></i>Output</div>
          <input id="output-path" type="text" placeholder="/user/rnaseq/results" value="/home/feds/Desktop/testflow/ggal_results">
          <i id="output-path-status" class="active large red remove icon"></i>
        </div>
      </div>
    </div>

    <!-- Nextflow -->
    <div id="nextflow-view" hidden>
      <br>
      
      <!-- Inputs -->
      <div class="ui container center aligned">  
        <div class="ui large labeled icon input">
          <div class="ui label nextflow-label">
            <i class="file open icon"></i>Nextflow
          </div>
          <input id="nextflow-path" class="nextflow-input" placeholder="/user/rnaseq/nextflow" value="/home/feds/Desktop/testflow/nextflow">
          <i id="nextflow-path-status" class="active large red remove icon"></i>
        </div> 
        <br><br>
        <div class="ui large labeled icon input">
          <div class="ui label nextflow-label">
            <i class="file open icon"></i>Pipeline
          </div>
          <input id="pipeline-name" class="nextflow-input" placeholder="pipeline.nf" value="main.nf">
          <i id="pipeline-name-status" class="active large red remove icon"></i>
        </div>
        <br><br>      
        <div class="ui large labeled icon input">
          <div class="ui label nextflow-label">
            <i class="cubes open icon"></i>Environment
          </div>
          <input id="environment-name" class="nextflow-input" placeholder="pipeliner">
          <i id="environment-name-status" class="active large red remove icon"></i>
        </div> 
      </div>
      <div class="ui hidden divider"></div>
      
      <!-- Console -->
      <div class=menu>
        <div class="circles close"></div>
        <div class="circles minimize"></div>
        <div class="circles zoom"></div>
      </div>
      <div class="screen">
        <textarea id="console" type="text" spellcheck="false" readonly></textarea>
      </div>
      <br>
      <div class="ui container center aligned">  
        <div class="ui vertical animated green compact button nextflow-button" id="nextflow-start" tabindex="0">
          <div class="visible content">Start</div>
          <div class="hidden content"><i class="play icon"></i></div>
        </div>
        <div class="ui vertical animated red compact button nextflow-button" id="nextflow-stop" tabindex="0">
          <div class="visible content">Stop</div>
          <div class="hidden content"><i class="pause icon"></i></div>
        </div>
        <div class="ui vertical animated blue compact button nextflow-button" id="nextflow-resume" tabindex="0">
          <div class="visible content">Resume</div>
          <div class="hidden content"><i class="forward icon"></i></div>
        </div>
      </div>
    </div>

    <div class="ui hidden divider"></div>
    <!-- Load jquery libraries last -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="/../static/js/underscore.min.js"></script>
  </body>
</html>
