<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Anthony Federico">
    <title>Pipeliner ~ v1.1</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
  </head>

<style>
body { 
  background: #17111F; 
}
.palette-purple {
    color: #17111F !important; 
}
.palette-orange {
    color: #E53B31 !important;
}
</style>

  <body>
  <br>
    <h2 class="ui center aligned header">
      <div class="content" style="color:white">
        Pipeliner ~ v1.1
        <div class="sub header" style="color:white">
          Flexible RNA-seq Pipeline built with Nextflow
        </div>
      </div>
    </h2>

    <div class="ui container center aligned">  

      <div class="ui tablet stackable mini steps">
        <div id="input-step" class="step">
          <i class="folder icon"></i>
          <div class="content">
            <div class="title">Input</div>
            <div class="description">Path to data files</div>
          </div>
        </div>
        <div id="settings-step" class="step">
          <i class="settings icon"></i>
          <div class="content">
            <div class="title">Settings</div>
            <div class="description">Customize your workflow</div>
          </div>
        </div>
        <div id="output-step" class="step">
          <i class="browser icon"></i>
          <div class="content">
            <div class="title">Output</div>
            <div class="description">Path to save results</div>
          </div>
        </div>
        <div id="submit-step" class="step">
          <div class="ui buttons">
            <button id="config" class="ui black button">Config</button>
            <div class="or"></div>
            <button id="submit" class="ui black button">Submit</button>
          </div>        
        </div>
      </div>

      <div class="ui hidden divider"></div>

      <div class="ui big icon labeled fluid input">
        <div class="ui label" style="width:150px"><i class="folder open icon"></i>Input</div>
        <input id="input-path" type="text" placeholder="/user/rnaseq/data">   
        <i id="input-button" class="circular search link icon"></i>
      </div>

      <table class="ui celled striped compact table">
        <thead>
          <tr>
            <th colspan="3">Files Found</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="collapsing"><i class="file icon"></i> Genome Annotation (GTF/GFF)</td>
            <td id="annotation-files"></td>
            <td class="right aligned collapsing"><i id="annotation-files-status" class="large red remove icon"></i></td>
          </tr>
          <tr>
            <td class="collapsing"><i class="file icon"></i> Genome Reference (FASTA/FA)</td>
            <td id="reference-files"></td>
            <td class="right aligned collapsing"><i id="reference-files-status" class="large red remove icon"></i></td>
          </tr>
          <tr>
            <td class="collapsing"><i class="file icon"></i> Sequencing Reads (CSV)</td>
            <td id="reads-files"></td>
            <td class="right aligned collapsing"><i id="reads-files-status" class="large red remove icon"></i></td>
          </tr>
          <tr id="reads-accordian" hidden>
            <td></td>
            <td class="ui styled fluid accordion">
                <div class="active title">
                  <i class="dropdown icon"></i>
                  Reads Found
                </div>
                <div class="active content">
                  <table class="ui very basic celled compact table">
                    <thead>
                      <tr>
                        <th>Sample</th>
                        <th>Read 1</th>
                        <th>Read 2</th>
                      </tr>
                    </thead>  
                    <tbody id="reads-found"></tbody>
                  </table>
                </div>
            </td>
          </tr>
          <tr>
            <td class="collapsing"><i class="file icon"></i> Mapping Index (INDEX)</td>
            <td id="index-files"></td>
            <td class="right aligned collapsing"><i id="index-files-status" class="large red remove icon"></i></td>
          </tr>
          <tr>
            <td class="collapsing"><i class="file icon"></i> Aligment (SAM/BAM)</td>
            <td id="alignment-files"></td>
            <td class="right aligned collapsing"><i id="alignment-files-status" class="large red remove icon"></i></td>
          </tr>
        </tbody>
      </table>

      <div id="input-message" class="ui hidden divider palette-orange"></div>
      <div class="ui hidden divider"></div>

      <!--//////////-->
      <!-- Settings -->
      <!--//////////-->
      <div class="ui attached segment left aligned">
        <form class="ui form">
          <h4 class="ui dividing header">Settings</h4>
          <div class="field">
            <div class="four fields">
              <div class="field">
                <label>Aligner</label>
                <select class="ui selection dropdown">
                  <option value="star">Star</option>
                  <option value="bowtie">Bowtie</option>
                  <option value="kallisto">Kallisto</option>
                </select>
              </div>
              <div class="field">
                <label>Read Ends</label>
                <select class="ui fluid dropdown">
                  <option value="paired">Paired End</option>
                  <option value="single">Single End</option>
                </select>              
              </div>
              <div class="field">
                <label>Genome</label>
                <input type="text">           
              </div>
              <div class="field">
                <label>Email</label>
                <input type="text">           
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="ui bottom attached segment">
        <div class="ui big breadcrumb">
          <div class="section">Reads</div>
          <i class="right chevron icon divider"></i>
          <div class="section">Fastqc</div>
          <i class="right chevron icon divider"></i>
          <div class="section">Trim Galore</div>
          <i class="right chevron icon divider"></i>
          <div class="section">Star</div>
          <i class="right chevron icon divider"></i>
          <div class="section">Counts/Stringtie/Resqc</div>
          <i class="right chevron icon divider"></i>
          <div class="section">Multiqc</div>
        </div>
      </div>
      <div id="settings-message" class="ui hidden divider palette-orange"></div>
      <div class="ui hidden divider"></div>

      <!--////////-->
      <!-- Output -->
      <!--////////-->
      <div class="ui big labeled icon fluid input">
        <div class="ui label" style="width:150px"><i class="folder open icon"></i>Output</div>
        <input id="output-path" type="text" placeholder="/user/rnaseq/results">
        <i id="output-path-status" class="active large red remove icon"></i>
      </div> 
      <div id="output-message" class="ui hidden divider palette-orange"></div>
      <div class="ui hidden divider"></div>
    </div>

    <!-- Load jquery libraries last -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="/../static/js/underscore-min.js"></script>
  </body>
</html>

<script>
// -------------------------------------------------------------------------- //
// Global Variables                                                           //
// -------------------------------------------------------------------------- //
var FILES = []

var STEPS = {"input": false, 
             "settings": true, 
             "output": false}

const filetypes = ['annotation-files', 
                   'reference-files', 
                   'reads-files', 
                   'alignment-files']

const option_1 = [filetypes[0], filetypes[1], filetypes[2]]
var   option_1_valid = option_1.reduce(function(obj, x) {obj[x] = false; return obj;}, {});
const option_2 = [filetypes[3]]
var   option_2_valid = option_2.reduce(function(obj, x) {obj[x] = false; return obj;}, {});

// -------------------------------------------------------------------------- //
// Helper Functions                                                           //
// -------------------------------------------------------------------------- //
function showMessage(id, message) {
  document.getElementById(id).innerHTML = message;
}
function editElement(id, attr, edit) {
  $('#'+id).attr(attr, edit)
}

// -------------------------------------------------------------------------- //
// Input                                                                      //
// -------------------------------------------------------------------------- //
$(document).on("click", ".input.delete.icon", function (event) {
  var label = $(event.target).closest("div")
  label.remove()
  for (var filetype in FILES) {
    for (var filename in FILES[filetype]) {
      if (FILES[filetype][filename] == label.prop("id")) {
        FILES[filetype].splice(filename, 1)
      }
    }
  }
  refreshInput() 
})

//------------------------------------------------------------------------------
function addSample(s) {
  return "<tr><td>"+s[0]+"</td><td>"+s[1]+"</td><td>"+s[2]+"</td></tr>"
}
function parseReads(pathtocsv) {
  $.post({
    type: "POST",
    url: "/parsereads",
    data: {"pathtocsv": pathtocsv},
    success: function(response){
      var success = JSON.parse(response)['success']
      var reads = JSON.parse(response)['reads']
      document.getElementById('reads-found').innerHTML = ""
      if (success) {
        document.getElementById('reads-accordian').hidden = false
        for (var sample in reads) {
          document.getElementById('reads-found').innerHTML += addSample(reads[sample])
        }
      }
    }
  })
}

// -----------------------------------------------------------------------------
function validateOption(array, dictionary, filetype, bool) {
  if (_.contains(array, filetype)) {
    dictionary[filetype] = bool
  }
}
function validateFiletype(filetype) {
  if (FILES[filetype].length == 1) {
    validateOption(option_1, option_1_valid, filetype, true)
    validateOption(option_2, option_2_valid, filetype, true)
    editElement(filetype+'-status', 'class', 'large green check icon')
  } else {
    validateOption(option_1, option_1_valid, filetype, false)
    validateOption(option_2, option_2_valid, filetype, false)
    editElement(filetype+'-status', 'class', 'large red remove icon')
  }
}
function validateOptions(callback=stepsComplete) {
  if (_.every(option_1_valid, _.first()) || _.every(option_2_valid, _.first())) {
    STEPS['input'] = true
    editElement('input-step', 'class', 'completed step') 
  } else {
    STEPS['input'] = false
    editElement('input-step', 'class', 'step')
  }
  callback()
}
function refreshInput(callback=validateOptions) {
  parseReads($("#input-path").val()+'/'+FILES['reads-files'][0])
  for (var filetype in FILES) {
    validateFiletype(filetype)
  }
  callback()
}
// -----------------------------------------------------------------------------

function clearFiles() {
  for (filetype in filetypes) {
    document.getElementById(filetypes[filetype]).innerHTML = ""
  }
}
function addFile(filename) {
  return "<div id='"+filename+"' style='display:inline;'>   \
            <a class='ui blue large label'>                 \
              "+filename+"<i class='input delete icon'></i> \
            </a>                                            \
         </div>"
}
function input() {
  clearFiles()
  $.post({
    type: "POST",
    url: "/input",
    data: {"input": $("#input-path").val()},
    success: function(response){
      var success = JSON.parse(response)['success']
      FILES = JSON.parse(response)['files']
      if (success) {
        for (var filetype in FILES) {
          for (var filename in FILES[filetype]) {
            document.getElementById(filetype).innerHTML += addFile(FILES[filetype][filename])
          }
        }
        refreshInput()
      }
    }
  })
}
// -------------------------------------------------------------------------- //
// Settings                                                                   //
// -------------------------------------------------------------------------- //

// -------------------------------------------------------------------------- //
// Output                                                                     //
// -------------------------------------------------------------------------- //
function output() {
  $.post({
    type: "POST",
    url: "/output",
    data: {"output": $("#output-path").val()},
    success: function(response){
      var success = JSON.parse(response)['success']
      if (success) {
        STEPS['output'] = true
        editElement('output-step', 'class', 'completed step')
        editElement('output-path-status', 'class', 'active large green check icon')
      } else {
        STEPS['output'] = false
        editElement('output-step', 'class', 'step')
        editElement('output-path-status', 'class', 'active large red remove icon')
      }
      stepsComplete()
    }
  })
}

// -------------------------------------------------------------------------- //
// Compelete                                                                  //
// -------------------------------------------------------------------------- //
function stepsComplete() {
  console.log(STEPS)
  if (_.every(STEPS, _.first())) {
    editElement('config', 'class', 'ui positive button') 
    editElement('submit', 'class', 'ui positive button')
    return true
  } else {
    editElement('config', 'class', 'ui black button') 
    editElement('submit', 'class', 'ui black button') 
    return false    
  }
}
$(document).on("click", "#config", function() {
  if (stepsComplete()) {
    console.log(FILES)
  }
})
$(document).on("click", "#submit", function() {
  if (stepsComplete()) {
    console.log(FILES)
  }
})

// -------------------------------------------------------------------------- //
// Actions                                                                    //
// -------------------------------------------------------------------------- //
$(document).on("blur", "#output-path", output)
$(document).on("click", "#input-button", input)
$(document).keypress(function(e) {
  if (e.which === 13) {
    var focus = document.activeElement.id
    if (focus == "input-path") {input()} 
    else if (focus == "output-path") {output()}
  }
})

// -------------------------------------------------------------------------- //
// Framework Settings                                                         //
// -------------------------------------------------------------------------- //
$(function() {
  $('.ui.dropdown').dropdown();
  $('.ui.accordion').accordion();
});
</script>
