process {
  executor = 'local'
  clusterOptions = "-P montilab-p"
}

params {
  // -----------------------------------
  // Standard Parameters
  // -----------------------------------

  indir  = "/Users/anthonyfederico/Village/pipeliner/miRNA-seq/mmusculus_data"
  outdir = "/Users/anthonyfederico/Village/pipeliner/miRNA-seq/mmusculus_results"

  fasta      = "${params.indir}/genome_reference.fa"
  gtf        = "${params.indir}/genome_annotation.gtf"
  reads      = "${params.indir}/mmusculus_reads.csv"
  alignments = "${params.indir}/mmusculus_alignments.csv"

  aligner = "star"         // choose aligner
  from_bam = false         // start directly from alignment (bam) files?
  save_reference = true    // save the reference file
  save_temps = true        // save temproary files
  caching = "deep"         // caching option

  // -----------------------------------
  // Process Specific Parameters
  // -----------------------------------

  // Star Aligner
  // --------------------------------------
  star_indexing.sjdbOverhang              = 1
  star_mapping.outFilterType              = "BySJout"
  star_mapping.outSAMtype                 = "BAM SortedByCoordinate"
  star_mapping.outWigType                 = "bedGraph"
  star_mapping.twopassMode                = "Basic"
  star_mapping.outFilterMultimapNmax      = 10
  star_mapping.outFilterMismatchNmax      = 1
  star_mapping.outFilterMismatchNoverLmax = 0.04
  star_mapping.alignIntronMin             = 20
  star_mapping.alignIntronMax             = 1
  star_mapping.alignMatesGapMax           = 100000
  star_mapping.alignSJoverhangMin         = 1
}