profiles {
  local {includeConfig 'configs/local.config'}
  sge {includeConfig 'configs/sge.config'}
}

includeConfig 'configs/user.config'

params {

  indir  = "/Users/anthonyfederico/GitHub/pipeliner/pipelines/toy_data/rnaseq"
  outdir = "/Users/anthonyfederico/GitHub/pipeliner/pipelines/barebones_results"
  reads  = "${params.indir}/ggal_reads.csv"
  
  // Are reads paired or single end?
  paired = true

  // Save trimmed fastq files?
  fastqs.save = true

  // Skip reporting?
  skip.multiqc = false

  // Trimming options
  trim_galore.quality          = 20
  trim_galore.custom_adaptors  = false
  trim_galore.adapter1         = ""
  trim_galore.adapter2         = ""
  trim_galore.xargs            = ""
  
}