PROJECT = 'montilab-p'

process {
  executor = 'local'
  scratch = true

  $counting.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 36 -l mem_total=94"
  $expression_matrix.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $rename_samples.clusterOptions    = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
  $multiqc.clusterOptions           = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 8"
}

params {

  // -----------------------------------
  // Standard Parameters
  // -----------------------------------

  indir  = "/Users/anthonyfederico/Work/pipeliner/pipelines/toy_data/dge"
  outdir = "/Users/anthonyfederico/Work/pipeliner/pipelines/dge_results"

  gtf    = "${params.indir}/genome_annotation.gtf"
  bams   = "${params.indir}/dge_bams.csv"

  quantifier   = "featurecounts"
  paired       = true
  remove_dups  = true
  skip.multiqc = false
  save.raw     = false

  // Feature Counts
  // --------------------------------------
  feature_counts.cpus   = 1
  feature_counts.type   = "exon"
  feature_counts.id     = "gene_id"
  feature_counts.xargs  = ""
}