includeConfig 'configs/local.config'

params {

  // -----------------------------------
  // Standard Parameters
  // -----------------------------------

  indir  = "/Users/anthonyfederico/GitHub/pipeliner/pipelines/toy_data/rnaseq"
  outdir = "/Users/anthonyfederico/GitHub/pipeliner/pipelines/rnaseq_results"

  fasta      = "${params.indir}/genome_reference.fa"
  gtf        = "${params.indir}/genome_annotation.gtf"
  reads      = "${params.indir}/ggal_reads.csv"
  phenotypes = "${params.indir}/ggal_phenotypes.txt"

  paired = true                // are reads paired or single end?
  aligner = "hisat"            // choose aligning process ["star" or "hisat"]
  quantifier = "htseq"         // choose counting process ["stringtie" or "htseq" or "featurecounts"]

  // -----------------------------------
  // Process Skipping
  // -----------------------------------

  index.use_existing = false
  index.path = "${params.indir}/alignment_indices/hisat_index/index/part"
  //index.path = "${params.indir}/alignment_indices/star_index/index"

  bams.use_existing = false
  bams.path = "${params.indir}/ggal_bams.csv"
  
  // Keep Temporary Files
  fastqs.save = false
  bams.save  = true

  skip.check_reads = false
  skip.pre_qc      = false
  skip.counting    = false
  skip.rseqc       = false
  skip.multiqc     = false
  skip.eset        = true

  // -----------------------------------
  // Process Specific Parameters
  // -----------------------------------

  // Trim Galore
  // --------------------------------------
  trim_galore.quality                     = 20
  trim_galore.custom_adaptors             = false
  trim_galore.adapter1                    = ""
  trim_galore.adapter2                    = ""
  trim_galore.xargs                       = ""

  // Hisat Aligner
  // --------------------------------------
  hisat_indexing.cpus                     = 4
  hisat_mapping.cpus                      = 4
  hisat_mapping.mp                        = "6,2"
  hisat_mapping.sp                        = "2,1"
  hisat_mapping.rdg                       = "5,3"
  hisat_mapping.rfg                       = "5,3"

  // Star Aligner
  // --------------------------------------
  star_indexing.sjdb_overhang             = 149
  star_indexing.cpus                      = 4
  star_mapping.cpus                       = 4
  star_mapping.twopassMode                = "Basic"
  star_mapping.outfilter_multimap_nmax    = 20
  star_mapping.outfilter_mismatch_nmax    = 999
  star_mapping.outfilter_mismatch_relmax  = 0.04
  star_mapping.align_intron_min           = 20
  star_mapping.align_intron_max           = 100000
  star_mapping.align_mates_gapmax         = 100000
  star_mapping.align_sjoverhang_min       = 1

  // Htseq
  // --------------------------------------
  htseq.type                              = "exon"
  htseq.mode                              = "union"
  htseq.idattr                            = "gene_id"
  htseq.order                             = "pos"
  htseq.xargs                             = ""
  htseq.ainj                              = ""

  // Feature Counts
  // --------------------------------------
  feature_counts.type                     = "exon"
  feature_counts.id                       = "gene_id"
  feature_counts.xargs                    = ""
  feature_counts.ainj                     = ""

  // Stringtie
  // --------------------------------------
  stringtie.xargs                         = ""
  stringtie.ainj                          = ""
}