body { 
  background: #1F2232 !important; 
}

.palette-purple {
    color: #1F2232 !important; 
}

.palette-orange {
    color: #E53B31 !important;
}


.nextflow-label {
	width: 175px;
}
.nextflow-input {
	width: 450px;
}