// single / star / indexed

includeConfig 'helpers/local.config'

params {

  // -----------------------------------
  // Standard Parameters
  // -----------------------------------

  indir  = "/Users/anthonyfederico/Work/pipeliner/pipelines/toy_data/rnaseq"
  outdir = "/Users/anthonyfederico/Work/pipeliner/pipelines/rnaseq_results"

  fasta      = "${params.indir}/genome_reference.fa"
  gtf        = "${params.indir}/genome_annotation.gtf"
  reads      = "${params.indir}/ggal_reads.csv"
  phenotypes = "${params.indir}/ggal_phenotypes.txt"

  paired = false               // are reads paired or single end?
  aligner = "star"             // choose aligning process ["star" or "hisat"]
  quantifier = "htseq"         // choose counting process ["stringtie" or "htseq" or "featurecounts"]

  // -----------------------------------
  // Process Skipping
  // -----------------------------------

  index.use_existing = true
  //index.path = "${params.indir}/alignment_indices/hisat_index/index/part"
  index.path = "${params.indir}/alignment_indices/star_index/index"

  bams.use_existing = false
  bams.path = "${params.indir}/ggal_bams.csv"
  
  // Keep Temporary Files
  fastqs.save = false
  bams.save  = false

  skip.check_reads = true
  skip.pre_qc      = true
  skip.counting    = false
  skip.rseqc       = true
  skip.multiqc     = true
  skip.eset        = true

  includeConfig 'helpers/parameters.config'
}