process {
  executor = 'local'
  clusterOptions = "-P montilab-p -l h_rt=96:00:00 -l mem_total=5G -pe omp 12"
}

params {

  // -----------------------------------
  // Standard Parameters
  // -----------------------------------

  indir  = "/Users/anthonyfederico/Village/pipeliner/Gallus_gallus/ggal_data"
  outdir = "/Users/anthonyfederico/Village/pipeliner/Gallus_gallus/ggal_results"

  fasta      = "${params.indir}/genome_reference.fa"
  gtf        = "${params.indir}/genome_annotation.gff"
  reads      = "${params.indir}/ggal_reads.csv"
  alignments = "${params.indir}/ggal_alignments.csv"
  bed        = "${params.indir}/ggal_refseq.bed"

  pre_indexed = false          // do you already have an index?
  index = ""                   // optional path/to/index
  aligner = "star"             // choose aligner
  paired = true                // are reads paired or single end?
  from_bam = false             // start directly from alignment (bam) files?
  enable_resume = false        // resume interrupted workflows
  save_reference = true        // save the reference file
  save_temps = true            // save temproary files


  // -----------------------------------
  // Process Specific Parameters
  // -----------------------------------


  // Star Indexing
  // --------------------------------------
  star_indexing.sjdbOverhang              = 149

  // Star Mapping
  // --------------------------------------
  star_mapping.outFilterType              = "BySJout"
  star_mapping.outSAMtype                 = "BAM SortedByCoordinate"
  star_mapping.outWigType                 = "bedGraph"
  star_mapping.twopassMode                = "Basic"
  star_mapping.outFilterMultimapNmax      = 20
  star_mapping.outFilterMismatchNmax      = 999
  star_mapping.outFilterMismatchNoverLmax = 0.04
  star_mapping.alignIntronMin             = 20
  star_mapping.alignIntronMax             = 100000
  star_mapping.alignMatesGapMax           = 100000
  star_mapping.alignSJoverhangMin         = 1
}
